<head>
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
</head>
<h1>Assignment Detail</h1>
{% if assignment %}
    <div class="well col-md-4">
        <h4>Name: {{ assignment.name }}</h4>
        <h4>Due: {{ assignment.due_date }}</h4>
        <div style="display: inline;">
            <form action="{% url 'due:complete' assignment.id %}" method="post">
            {% csrf_token %}
                <input class="btn btn-primary" type="submit" value="Complete Assignment"/>
                <a class="btn btn-danger" href="{% url 'due:index' %}">Back to Home</a>
            </form>
        </div>
    </div>
{% endif %}