<head>
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
</head>

<h1>Create an Assignment</h1>

<form action="#" method="post">
{% csrf_token %}
    <label for="name">Assignment Name: </label>
    <input type="text" name="name" id="name"/>
    <label for="due_date">Due Date: </label>
    <input type="date" id="due_date" name="due_date"/>
    <label for="due_time">Due Time: </label>
    <input type="time" id="due_time" name="due_time"/>
    <input class="btn btn-primary" type="submit" value="Save"/>
    <a class="btn btn-danger" href="{% url 'due:index' %}">Cancel</a>
</form>