<head>
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
</head>
<h1>Upcoming Assignments</h1>
<br />
{% if upcoming_assignments %}
	<ul>
	{% for assignment in upcoming_assignments %}
		<li><a href="{% url 'due:detail' assignment.id %}">{{ assignment.name }} - Due: {{ assignment.due_date }}</a></li>
	{% endfor %}
{% else %}
	<p>No assignments due, take a break!</p>
{% endif %}
<br />
<a class="btn btn-primary" href="{% url 'due:create_assignment' %}">Create Assignment</a>   